node_modules
dist
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build


.env
Dockerfile
.dockerignore
.git
.gitignore
.vscode
.idea
logs
*.log
*.tsbuildinfo
coverage
*.pem
*.key
*.crt